// Custom styles.
h1{ font-size:1.8em }
h2{ font-size:1.6em }
h3{ font-size:1.4em}
h4{ font-size:1.3em }
h5{ font-size:1.2em }
h6{ font-size:1.1em }
p{margin: 0.6em 0;}
.posts-expand .post-title {
    font-size: 2em;
    font-weight: bold;
}
body{
    color:#000;
    font-size:16px;
}
.posts-expand .post-meta {
    color: #333;
}

#posts img {
    /* border: 0.3em solid #e0dfcc ; */
    box-shadow: 0 0 10px #555;
    border-radius: 1em;
}
#posts blockquote{
    background-color:lightgray;
    padding: 1em;
    margin: 2em;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    border-radius: 1em;
    border: 0.3em solid  lightslategray;
    text-shadow: 0 1px white;
    overflow: auto;
}